*{
    font-size: 100%;
    font-weight: normal;
    margin: 0%;
}

h1{
    font-size: 40px;
    text-align: center;
}
h2{
    font-size: 30px;
    margin-left: 20%;
    margin-top: 1%;
}
div{
    margin-left: 65%;
}
p{
    margin-left: 20%;
    margin-top: 1%;
}
ul{
    margin-left: 20%;
    margin-top: 1%;
}
table{
    margin-left: 20%;
    margin-top: 1%;
}
hr{
    margin-left: 20%;
    margin-right: 10%;
}